body, html {
    background-color: #171717;
    padding-left: 20px;
    padding-right: 20px;
}

.app-container {
    gap: 0px;
    min-height: 100%;
}

.header-logo {
    padding: 50px;
    position: relative;
    width: auto;
    height: auto;
    pointer-events: none
}

.logo {
    margin: auto;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;

    width: 200px;
    height: 200px;
}

.input-text {
    font-family: monospace;
    color: orange;
    text-align: center;
    font-size: 1.3rem;
    margin: 0;
}

.user-input {
    background-color: #171717;
    color: #fff;
    font-family: monospace;
    font-size: 1.3rem;
    width: 100%;
    border-radius: 2px;
    border: 0;
    outline: 0;
    margin-bottom: 10px;
}

.main-input {
    font-family: monospace;
    margin-bottom: 20px;
    font-size: 1.3rem;
}


.sql-show {
    font-family: monospace;
    font-size: 1.3rem;
}

.input-boxes {
    background-color: #292929;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.statements {
}

.column-left {
  float: left;
  width: 20%;
}

.column-right {
  float: right;
  width: 78%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:600px) {
  .column-left, .column-right {
    width: 100%;
  }
}
